		<h1>${username} profile</h1>
		<img src="${photoURL}" class="photo" alt="${name}" />
		<b>Name:</b> ${name}<br />
		<b>Age:</b> ${age}<br />
		<b>Location:</b> ${location}<br />
		<div class="footer_clear"></div>